/* * {
    border: 1px solid black;
} */

#firstcontainer * {
    float: left;
    margin-right: 10px;
    width: 100px;
    height: 100px;
}


/* Tout les éléments de type div */
#firstcontainer div {
    border-radius: 50%;
}

/* Les éléments de type div de premier niveau */
/* #firstcontainer > div { 
    border-radius: 50%;
} */

/* .colorOne {
    background-color: red;
}

.colorTwo {
    background-color: blue;
}
.colorTree {
    background-color: green;
}
.colorFour {
    background-color: yellow;
}
.colorFive {
    background-color: orange;
}
.colorSix {
    background-color: purple;
} */




/* #firstcontainer *:first-child {
    background-color: red;
}

#firstcontainer *:nth-child(2) {
    background-color: blue;
}

#firstcontainer *:nth-child(3) {
    background-color: green;
}

#firstcontainer *:nth-child(4) {
    background-color: yellow;
}

#firstcontainer *:nth-child(5) {
    background-color: orange;
}

#firstcontainer *:last-child {
    background-color: purple;
} */

#firstcontainer div:first-child {
    background-color: red;
}

#firstcontainer div:nth-child(2) {
    background-color: blue;
}

#firstcontainer div:nth-child(3) {
    background-color: green;
}

#firstcontainer span:nth-child(4) {
    background-color: yellow;
}

#firstcontainer span:nth-child(5) {
    background-color: orange;
}

#firstcontainer span:last-child {
    background-color: purple;
}

p {
    font-weight: bold;
}

/* 
p::before {
    content: "<--";
    color  : #444;
}

p::after {
    content: "❤️-->>";
    color  : #444;
} */

/* .40prc::after {
    content: "soldes -40%";
    color  : #444;
} */

/* Le premier p (ou élément) qui a pour parent direct l'id firstcontainer */
#firstcontainer+p {
    color: red;
}

/* Les prochains p (ou élément) qui a pour parent l'id firstcontainer */
#firstcontainer~p {
    color: red;
}

/* Bootstrap style */

.row div {
    border: 1px solid #eee;
    padding: 10px;
    background-color: #CAD2F5;
    color: #fff;
}

/* .dropdown:hover .dropdown-menu {
    display: block;
} */

/* navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.nav-item {
    position: relative;
    display: flex;
}

/* li {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
} */


a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
    position: relative;
}

li a .icon {
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}

li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #FF557E;
}

li a .icon .fa:last-child {
    color: #083B4C;
}

li a:hover .icon .fa {
    transform: translateY(-100%);
}

.name {
    text-transform: uppercase;
    font-weight: 800;
    font-size: .8rem;
    letter-spacing: .15rem;
    text-align: center;
    color: #FF557E;
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
}

li a .name span {
    display: block;
    position: relative;
    line-height: 20px;
    transition: 0.5s;

}

li a .name span:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #083B4C;
}

li a:hover .name span {
    transform: translateY(20px);
}

li.active a {

    background: #FFE5E4;


}

/* tabs */


.tabs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 250px;
    background: #f5f5f5;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: 5px 10px 5px #ccc;
}

.tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100% / 4);
    text-align: center;
    color: #888;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active {
    color: #00acee;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 4);
    height: 5px;
    background: #00acee;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 60px);
    padding: 10px 5px;
}

.tabs .tab-body>div {
    position: absolute;
    top: -200%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
}


/* hero */

.bg-image {
    background-image: url("images/Hero.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}